doctype html
html
	head
		title Global Annihilation System Server
		css:
			body { background-color: white }
	body
		h1 Global Annihilation System Server
		- if defined? message
			h3 Message:
			pre
				= message
		h3 Configuration:
		pre
			' Default GAS Version: 
			= settings.default_version.to_s + "\n"
			' Min wait time: 
			= settings.wait_min_time.to_s + "\n"
			' Max wait time: 
			= settings.wait_max_time.to_s + "\n"
		div
			a href="/config/reset" Reset all settings
		br
		- settings.services.keys.each do |id|
			div
				a href="/config/setversion/#{id}"  Set GAS version #{id}
		br
		div
			a href="/config/setwaittime/0,0" Reset wait times
		div
			a href="/config/setwaittime/5,10" Set wait times to 5,10
		br
		div
			a href="/config/allsites" Show data
		br
		div
			a href="/" Main page

