doctype html
html
	head
		title Global Annihilation System Server
		css:
			body { background-color: white }
	body
		div align="center"
			div style="width:960px"
				img src="/main.png"
				h1 Global Annihilation System Server
				h3 Version #{service.version}
				pre align="left" style="width:500px" #{service.description}

